.footer {
  background: #000000;
}

.footer_container {
  max-width: 1200px;
  padding: 120px 20px 60px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  align-items: center;
}

.footer_texto {
  font-size: 1.5rem;
  line-height: 1.33rem;
  color: #cccccc;
}

.footer_contato li {
  font-size: 2.5rem;
  color: #ffffff;
  font-weight: bold;
  line-height: 1.1;
  margin-bottom: 30px;
}
.footer_contato li a {
  color: #ffffff;
}

.footer_contato img{
  display: inline-block;
  width: 40px;
  height: 40px;
}

.footer_copy {
  font-size: 1.125rem;
  color: #8f8f8f;
  grid-column: 1 /-1;
}

@media (max-width: 800px) {
  .footer_container {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .footer_contato li {
    font-size: 1.5rem;
  }
}
